@import "./root&mixin.scss";

.modal-wrapper {
  position: absolute;
  margin: 0% auto;
  min-height: 80%;
  height: auto;
  top: -70%;
  z-index: 999;
  background-color: rgb(152, 152, 152);
  padding: 10%;
  border-radius: 20px;
  display: grid;
  grid-template-rows: auto auto 2fr;
  gap: 1em;
 display: none;
  

  .modalInput {
    width: 50%;
    padding: 2%;
    @include sizesModal;
    min-height: 30px;
    resize: none;
    overflow: auto;
    outline: none;
  }
  .modalTextarea {
    min-width: 100%;
    min-height: 200px;
    resize: none;
    outline: none;
    @include sizesModal;
  }
  .buttomModal{
    display: grid;
    grid-template-columns: 5fr 2fr 2fr;
    gap: 2em;
    min-height: 40px;
  }
  .cancelModal,
  .confirmModal{
    @include sizesModal;
  }
}
#blockAddTodo{
  top: -440px;
}
